{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <h2>{% trans "Statuses" %}</h2>
  <a class="btn btn-primary mb-3" href="{% url 'statuses:create' %}">
    {% trans "Create new status" %}
  </a>

  {% if statuses %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "ID" %}</th>
        <th>{% trans "Имя" %}</th>
        <th>{% trans "Дата создания" %}</th>
        <th>{% trans "Действия" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for status in statuses %}
      <tr>
       <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'statuses:update' status.id %}">{% translate "Edit" %}</a><br>
                    <a href="{% url 'statuses:delete' status.id %}">{% translate "Delete" %}</a>
                </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{% trans "No statuses yet" %}</p>
  {% endif %}
</div>
{% endblock %}