
__pycache__/
*.py[cod]
*.pyo
*.pyd


.venv/
env/
venv/



*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py


staticfiles/
static/**/*.js
static/**/*.css
static/**/*.gz
staticfiles/